{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/table.css' %}"/>

<h1>List of all houses</h1>

<form method="GET" action="{% url 'houses' %}">
    Sort by:
    <select name="order_by">
        <option value="address">Address</option>
        <option value="residence_count">Residence total count</option>
        <option value="year_of_construction">Year of construction</option>
    </select>

    <select name="ordering">
        <option value="ascending">Ascending</option>
        <option value="descending">Descending</option>
    </select>
    <button>
        Sort
    </button>
</form>

<table class="table">
    {% if object_list %}
        <tr>
            <th>ID:</th>
            <th>Address:</th>
            <th>Residence total count:</th>
            <th>Year of construction:</th>
            <th></th>
        </tr>
        {% for house in object_list %}
            <tr>
                <td>{{ house.id }}</td>
                <td>{{ house.address }}</td>
                <td>{{ house.residence_count }}</td>
                <td>{{ house.year_of_construction }}</td>
                <td>
                    <a href="{% url 'house' house.id %}">
                        <button>Residents</button>
                    </a>
                </td>
            </tr>
        {% endfor %}
    {% else %}
        <h3>No houses here :(</h3>
    {% endif %}
</table>