{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/table.css' %}"/>

<h1>Resident list of house {{ object.id }}</h1>

<table class="table">
    {% if object.resident_set.all %}
        <tr>
            <th>Full name:</th>
            <th>Date of birth:</th>
            <th>Room number:</th>
        </tr>
        {% for resident in object.resident_set.all %}
            <tr>
                <td>{{ resident.full_name }}</td>
                <td>{{ resident.date_of_birth }}</td>
                <td>{{ resident.room_number }}</td>
            </tr>

        {% endfor %}
    {% else %}
        <h3>No residents here :(</h3>
    {% endif %}
</table>
<br>
<a href="{% url 'houses' %}">
    <button>See all houses</button>
</a>